#core {
  .manure_map_form{
    height: 100%;
    .manure-map {
      @include float(left);
      height: 70%;
    }
  }

  .manure-results-sub-group {
    @include padding-left($default-gap);
    font-size: 50px !important;
  }
}
.action-menu {
  .question-filled {
    color: $action-menu-background;
    background-color: mix($success-color, $action-menu-background);
    @include transition(all 0.6s ease);
    .item_button {
      @include use-icon(check);
    }
  }

  .item_button {
    @include is-icon;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #b9b9b9;
    text-decoration: none;

    background: #F0F0F0;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    color: #3f70ce;
    font-size: 14px;
    margin: 0;

    &:before {
      width: 30px;
      height: 30px;
      display: block;
      line-height: 30px;
      font-size: 14px;

      //background-color: inherit;
      //border: inherit;
    }
  }
}
